
{{> navBar}}
<div class="bigContainer">
<h1>Мои альбомы</h1>
<ul>
{{#each userAlbums}}
<div class="container" data-id={{this.id}}>
<li><a href="/albums/{{this.id}}">{{this.title}}</a></li>
<button class="deletealbum">Удалить альбом</button>
</div>
{{/each}}
</ul>

<h1>Альбомы других пользователей</h1>
<ul>
{{#each allAlbums}}
<li><a href="/albums/{{this.id}}">{{this.title}}</a></li>
{{/each}}
</ul>
</div>
<script src="/js/deleteAlbum.js"></script>